<table border="0" class="comment-tree">
    <tr class="athing comtr">
        <td>
            <table border="0">  
                <tbody>
                    <tr>    
                        <td class="ind" indent="0">
                            <img src="s.gif" height="1" width="0">
                        </td>
                        <td valign="top" class="votelinks">
                            <center>
                                <a id="up_29206911" onclick=""> <!-- VOTE -->
                                    <div class="votearrow" title="upvote"></div>
                                </a>
                            </center>    
                        </td>
                        <td class="default">
                            <div style="margin-top:2px; margin-bottom:-10px;">
                                <span class="comhead">
                                    <a href="user?id=numair" class="hnuser"><%= comment.user_id%></a> <!-- LINK A USER -->
                                    <span class="age" title="2021-11-13T02:41:20">
                                        <%= time_ago_in_words(comment.created_at)  %> ago
                                    </span> 
                                    <span id="unv_29206911"></span>
                                    <span class="navs"> 
                                        | <a href="#29206945" aria-hidden="true">next</a>
                                    </span> 
                                    <a class="togg" n="75" href="javascript:void(0)" onclick="return toggle(event, 29206911)">[–]</a>
                                    <span class="onstory"></span>                  
                                </span>
                            </div>
                            <br>
                            <div class="comment">
                                <%= comment.content %>
                                <span class="commtext c00">
                                    <div class="reply">        
                                        <font size="1">
                                            <u><a><%= link_to "reply", comment_path(comment) %> </a></u>
                                        </font>
                                        
                                    </div>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <tr class="athing comtr">
            <td class="ind" indent="1">
                <img src="https://news.ycombinator.com/s.gif" height="1" width="1">
            </td>
            <td>
                <table border="0">  
                    <tbody>
                        <tr>    
                            
                            <%= render partial: 'comments/comment', collection: comment.comments %>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tr>
</table>

