<form method="post" action="/login/profile">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <table border="0">
    <tr>
      <td>user:</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>created:</td>
      <td><%= time_ago_in_words(@user.created_at) %> ago</td>
    </tr>
    <tr>
      <td valign="top">about:</td>
      <% if !cookies.signed[:user_id].nil? && @user.name == User.find(cookies.signed[:user_id]).name %>
      <td><textarea rows=5 cols=60 name="about"><%= @user.about %></textarea></td>
      <% else %>
      <td><%= @user.about %></td>
      <% end %>
    </tr>
    <tr>
      <td>email:</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>API-KEY:</td>
      <td><%= @api_key %></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="<%= posts_path(:author => @user.name) %>"><u>submissions</u></a></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="<%= comments_path(:author => @user.name) %>"><u>comments</u></a></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="<%= posts_path(:upvoted_by => @user.name) %>"><u>upvoted submissions</u></a> / <a href="<%= comments_path(:upvoted_by => @user.name) %>"><u>comments</u></a></td>
    </tr>
  </table>
  <br>
  <% if !cookies.signed[:user_id].nil? && @user.name == User.find(cookies.signed[:user_id]).name %>
  <input type="submit" value="update">
  <% end %>
</form>
