<table class="fatitem" border="0">
  <tbody>
    <tr class="athing" id="29016506">
      <td align="right" valign="top" class="title">
        <span class="rank"></span>
      </td>      
      <td valign="top" class="votelinks">
        <center>
          <a id="up_29016506" href="CANVIAR"> <!-- link a upvote -->
            <div class="votearrow" title="upvote"></div>
          </a>
        </center>
      </td>
      <td class="title">
        <a href="" class="titlelink"><%= @post.title %></a>
        <span class="sitebit comhead"> </span>
      </td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td class="subtext">
        <span class="score" id="score_29016506"><%= @post.points %></span> 
          by <a href="" class="hnuser"><%= @post.author %></a> 
        <span class="age" title="2021-10-27T17:42:45">
          <a href="CANVIAR"><%= time_ago_in_words(@post.created_at)  %> ago</a></span> <!-- no entenc on se suposa que porta-->
        <span id="unv_29016506"></span> 
            | <a href="CANVIAR">hide</a> <!-- no cal -->
            | <a href="CANVIAR">favorite</a> <!-- no cal -->
            | <a href="CANVIAR"><%= @post.numcomments %>&nbsp;comments</a> <!-- el link ha de portar a la pg actual -->              
      </td></tr>
    <tr>
      <td colspan="2"></td>
      <td>
      <form method="post" action="<%= comment_post_path(@post) %>">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
           <!-- id del pare -->
          <!--<% if cookies.signed[:user_id].nil? == false %>
            <%= hidden_field_tag :id_author, User.find(cookies.signed[:user_id]).id %>
          <% end %>
          -->
          <%= hidden_field_tag :user_id, 1 %> 
          <%= hidden_field_tag :parent, @post.id_post %>
          <textarea name="content" rows="6" cols="60"></textarea>
          <br><br>
          <input type="submit" value="add comment">
        </form>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<table border="0" class="comment-tree">
  <tbody>
    <tr class="comment" id="CANVIAR"> 
      <td>
        <table border="0">
          <tbody>
            
            <%= com = @post.comments %> 
            <% com.each do |comment| %>
              
            <tr>
              <td class="ind" indent="0">
                <img src="s.gif" height="1" width="0">
              </td>
              <td valign="top" class="votelinks">
                <center>
                  <a id="up_29151509" href="CANVIAR"> <!-- link a upvote -->
                    <div class="votearrow" title="upvote"></div>
                  </a>
                  </center>
              </td>
              
              <td class="default">
                <td class="default">
                  <div style="margin-top:2px; margin-bottom:-10px;">
                    <span class="comhead">
                      
                      <a href="CANVIAR" class="hnuser"><%= comment.user_id %></a> <!-- link a usuari, canviar amb cookies pq surti el nom-->
                      <span class="age" title="2021-11-08T17:15:34">
                        <a href="CANVIAR"><%= time_ago_in_words(comment.created_at)  %> ago</a>
                      </span> 
                      <span id="unv_29151509"></span>
                      <span class="navs"> <!-- PORTA AL SEGUENT COMENTARI, POTSER NO CAL -->
                         | <a href="CANVIAR" aria-hidden="true">next</a>
                      </span> 
                      <a class="togg" n="3" href="CANVIAR" onclick="return toggle(event, 29151509)">[–]</a> <!-- DISMINUEIX COMENTARI, POTSER NO CAL-->                  
                    </span>
                  </div>
                  <br>
                  <div class="comment">
                    <span class="commtext c00">
                      <%= comment.content %>
                      <div class="reply">        
                        <p>
                          <font size="1">
                            <u><a href="CANVIAR">reply</a></u> <!-- link a fer el reply -->
                          </font>
                        </p>
                      </div>
                    </span>
                  </div>
                </td>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
