
            <table class="fatitem" border="0">
                <tbody>
                  <tr class="athing" id="29016506">
                    <td align="right" valign="top" class="title">
                      <span class="rank"></span>
                    </td>      
                    <td valign="top" class="votelinks">
                      <center>
                        <a id="up_29016506" href="CANVIAR"> <!-- link a upvote -->
                          <% if cookies.signed[:user_id].nil? %>
                            <div class="votearrow" title="vota"><%= link_to "\u00A0\u00A0", login_path, method: :get %></div>
                          <% else %>
                            <div class="votearrow" title="vota"><%= link_to "\u00A0\u00A0", post_likes_path(@post), method: :post %></div>
                          <% end %>
                        </a>
                      </center>
                    </td>
                    <td class="title">
                      <a href="" class="titlelink" style="color:black"><%= @post.title %></a>
                      <span class="sitebit comhead"> </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td class="subtext">
                      <span class="score" id="score_29016506"><%= @post.likes.count %> points</span> 
                       by <a href="<%= profile_login_path(:name => @post.author_id) %>" class="hnuser"><%= @post.author_id %></a> 
                      <span class="age" title="<%@post.created_at%>">
                        <a href="CANVIAR"><%= time_ago_in_words(@post.created_at)  %> ago</a></span> <!-- no entenc on se suposa que porta-->
                      <span id="unv_29016506">
                        | <%= @post.comments.length() %>&nbsp;comments <% pre_like = @post.likes.find { |like| like.user_id == cookies.signed[:user_id]} %> <% if pre_like %> | <%= link_to 'unlike', post_like_path(@post, pre_like), method: :delete %><% end %>
                      </span> 
                           <!-- el link ha de portar a la pg actual -->              
                    </td></tr>
                  <tr>
                    <td colspan="2"></td>
                    <td><%= @post.content %></td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td>
                    <form method="post" action="<%= comment_post_path(@post) %>">
                      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                         
                        <% if cookies.signed[:user_id].nil? %> 
                          <a id="login" href="<%= login_path %>"></a>
                        <% else %>
                          <%= hidden_field_tag :user_id, User.find(cookies.signed[:user_id]).id %>
                        <% end %>
                        <%= hidden_field_tag :post_id, @post.id %>
                        <textarea name="content" rows="6" cols="60"></textarea>
                        <br><br>
                        <input type="submit" value="add comment">
                      </form>
                    </td></tr></table>
            <br>
            <table border="0" class="comment-tree">
              <tbody>
                <tr class="comment" id="CANVIAR"> 
                  <td>
                    <table border="0">
                      <tbody>
                        <ul>
                          <%= render partial: 'comments/comment', collection: @post.comments %>
                        </ul>  
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
      
